<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark light" />
    <script type="application/javascript" defer="defer" src="js/%EF%B7%BD.js"></script>
    <style>
:root {
  color-scheme: light dark;
}
body {
  --text-color: black;
  --bkg-color: white;
}
@media (prefers-color-scheme: dark) {
  body {
    --text-color: white;
    --bkg-color: black;
  }
}
body {
  background: var(--bkg-color);
  color: var(--text-color);
}
#vid {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
#vid iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
    </style>
    <title>
      The latest video
    </title>
  </head>
  <body>
    <main id="vid">
      <iframe src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
    </main>
  </body>
</html>
